.button {
  padding: 10px 20px;
  background-color: $color-orange;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}

.button-icon {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
}

.button_delete {
  background-image: url(../images/icons/close.svg);
  background-size: cover;
}
.button_change {
  background-image: url(../images/icons/pencil.svg);
  background-size: cover;
}
.button_add {
  background-image: url(../images/icons/check.svg);
  background-size: cover;
}
