.footer {
  height: 110px;
  background-color: $color-black;
  color: $color-gray;
  @include tablets() {
    height: auto;
    padding: 20px 0;
  }
}
.footer__logo {
  width: 147px;
  margin-right: 95px;
  display: flex;
  order: 5;
  @include tablets() {
    margin: auto;
  }
}
.footer__nav {
  width: 375px;
  order: 7;
  @include tablets() {
    order: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer__copyright {
  order: 10;
  margin-left: auto;
  width: 132px;
  color: #d3d3d3;
  text-align: right;
  white-space: no-wrap;
  @include tablets() {
    margin: auto;
  }
}

.footer__link {
  color: #d3d3d3;
  padding-left: 40px;
  background: url("../images/itex-logo.png") center left;
  background-repeat: no-repeat;
}

.copy {
  margin-bottom: 10px;
}

.footer__container {
  flex-wrap: wrap;
}
