.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  margin-right: 15px;
  width: 147px;
  display: flex;
}
.logo__header {
  text-transform: uppercase;
  font-weight: 700;
  max-width: 160px;
  @include phones() {
    text-align: right;
  }
}
