.menu {
  display: flex;
  background-color: #fff;
  height: 50px;
  @include tablets() {
    height: auto;
    padding: 10px 0;
  }
}

.menu__home {
  margin-right: 45px;
  width: 35px;
  flex-shrink: 0;
}
