.services {
  padding-top: 50px;
}

.services__header {
  font-weight: 700;
  font-size: $large-text-size;
  margin-bottom: 20px;
  text-align: center;
}
.services__content {
  background-color: $color-orange;
  padding: 15px 0 15px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.services__item {
  width: 455px;
  min-width: 350px;
  margin: 35px 30px 35px 0;
  &:nth-child(2n) {
    margin-right: 0;
  }
}
