.todo-list {
  padding: 60px 0 100px;
}
.todo {
  @include tablets {
    margin: 0 auto;
  }
}
.todo__header {
  text-transform: uppercase;
  font-size: $large-text-size;
  font-weight: 700;
  margin-bottom: 30px;
}
.task__list {
  font-weight: 700;
  font-size: $large-text-size;
}
.task__item {
  margin-bottom: 35px;
  .task__input {
    display: none;
  }

  &_editable {
    .task__input {
      display: inline-block;
    }
    .task__label {
      display: none;
    }
  }
}
.task__label {
  margin-right: 20px;
}
.task__input {
  width: 536px;
  padding: 5px 10px;
  font-size: $medium-text-size;
  font-weight: 400;
  margin-right: 30px;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(83, 83, 83);
  box-shadow: inset 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  @include tablets() {
    width: auto;
    max-width: 200px;
  }
  @include phones() {
    max-width: 150px;
  }
}

.new-task {
  display: flex;
  align-items: center;
}
