section.catalog
  .container
    .catalog__breadcrumbs
      .breadcrumbs
        ul.breadcrumbs-list
          li.breadcrumbs-item 
            a(href="#") Главная
          li.breadcrumbs-item
            a(href="#") Каталог
          li.breadcrumbs-item 
            a(href="#") Название товара
    .catalog__item
      .item
        .item__photo
          img(src="assets/images/excavator.jpg", alt="JCB").responsive-img
        .item__description
          .item__name JCB 4CX Super
          .item__props
            .props
              ul.props__list
                li.props__item
                  a(href='#').props__header Характеристики 
                  .props__wrapper
                    .props__content
                      ul.sub-props__list
                        li.sub-props__item(data-price="11111")
                          input(type='checkbox', id='checkbox-1', class='sub-props__checkbox')
                          label(for='checkbox-1').sub-props__label
                            .checkbox-fake 
                            span Характеристика 1
                        li.sub-props__item(data-price="22222")
                          input(type='checkbox', id='checkbox-2', class='sub-props__checkbox')
                          label(for='checkbox-2').sub-props__label
                            .checkbox-fake 
                            span Характеристика 2
                        li.sub-props__item(data-price="33333")
                          input(type='checkbox', id='checkbox-3', class='sub-props__checkbox')
                          label(for='checkbox-3').sub-props__label
                            .checkbox-fake 
                            span Характеристика 3
                li.props__item
                  a(href='#').props__header Информация
                  .props__wrapper
                    .props__content
                      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique officiis enim labore error at nam. Delectus perferendis voluptatibus id odio unde voluptas harum possimus vitae distinctio, sit officia magni, animi, totam reprehenderit exercitationem. Dolores ipsam, eos suscipit, nisi mollitia magni corporis enim reiciendis odit cumque voluptas, blanditiis explicabo. Incidunt, perferendis.
          .item__price
            .price 0 Р.
            button.button Заказать


        
