footer.footer
  .container.container_flex-aic.footer__container
    .footer__logo
      img(src="assets/images/logo-yellow.png", alt="company-logo")
    nav.footer__nav
      ul.nav__list.nav__list_footer
        li.nav__item.nav__item_active 
          a(href="#") Главная
        li.nav__item 
          a(href="") Каталог техники
        li.nav__item 
          a(href="") Услуги
        li.nav__item
          a(href="") Выполненные работы
        li.nav__item
          a(href="") О компании
        li.nav__item
          a(href="") Контакты

    .footer__copyright
      .copy 	&#169; Aйтекс start 2016
      a(href="").footer__link itexstart.ru


