section.main
			.topline
				.container.container_flex-aic
					.topline__left
						.logo
							.logo__image
								img(src="assets/images/logo-black.png" alt="logo").responsive-img
							.logo__header Услуги строительной техники
					.topline__right
						.contacts
							.contacts__adress г. Екатеринбург,  ул.Маяковского, 25
							.contacts__phone +7 (343) 222-20-17
			.menu
				.container.container_flex-aic
					.menu__home
						a(href="#").link
							img(src="assets/images/small-logo.png").responsive-img
					.menu__nav
						nav.nav
							ul.nav__list
								li.nav__item.nav__item_active 
									a(href="#") Каталог техники
								li.nav__item 
									a(href="") Услуги
								li.nav__item
									a(href="") Выполненные работы
								li.nav__item
									a(href="") О компании
								li.nav__item
									a(href="") Контакты
			include ./_slider.pug