section.services
  .services__header Услуги
  .services__content
    .container
      ul.services__list
        li.services__item
          .service
            .service__img
              img(src="assets/images/helmet.jpg", alt="service").responsive-img
            .service__desc
              .service__header Засыпка траншеи
              .service__text
                p Нашей компанией осуществляется засыпка траншей в Екатеринбурге, востребованная предприятиями и частными лицами.
        li.services__item
          .service
            .service__img
              img(src="assets/images/helmet.jpg", alt="service").responsive-img
            .service__desc
              .service__header Вывоз мусора
              .service__text
                p Вывоз мусора — составляющая деятельности производств и бытовых предприятий
        li.services__item
          .service
            .service__img
              img(src="assets/images/helmet.jpg", alt="service").responsive-img
            .service__desc
              .service__header Доставка
              .service__text
                p Отсев образуется после разработки твердых горных пород и является востребованным материалом в строительстве.
        li.services__item
          .service
            .service__img
              img(src="assets/images/helmet.jpg", alt="service").responsive-img
            .service__desc
              .service__header Подъем грузов
              .service__text
                p Выполнение широкого спектра высотных операций сложно представить без специализированной техники.
      
