.slider
  .slider__nav-wrapper
    ul.slider__nav
    
  .slider__controls
    .control.control__left
      a(href="")
    .control.control__right
      a(href="")
  
  .slider__wrapper
    .slider__list
      .slider__item.active
        img(src="assets/images/slider-image-1.jpg").responsive-img
      .slider__item
        img(src="assets/images/slider-image-1.jpg").responsive-img
      .slider__item
        img(src="assets/images/slider-image-1.jpg").responsive-img
  
  