section.todo-list
  .container
    .todo
      .todo__header Заголовок
      .todo__task-list
        ol.task__list
          li.task__item
            label.task__label Задача 1
            input(type="text" value="Задача 1").task__input
            button.button-icon.button_change
            button.button-icon.button_delete
          li.task__item
            label.task__label Задача 2
            input(type="text" value="Задача 2").task__input
            button.button-icon.button_change
            button.button-icon.button_delete
      .todo__new-task
        .new-task
          input(type="text").task__input
          button.button-icon.button_add
          button.button-icon.button_delete