$html-text-size: 14px;
$small-text-size: 12px;
$medium-text-size: 20px;
$large-text-size: 24px;
$main-font: PT Sans, Arial, sans-serif;
$color-black: #000000;
$color-orange: #ffbb02;
$color-gray: #818180;
$laptops: 960px;
$tablets: 768px;
$phones: 480px;
